/* .logo {
    width: 50px;
    margin-right: 1rem;
  } */
  
  @media (max-width: 900px) {
    .logo1 {
      display: none;
    }
  }

  @media (min-width: 900px) {
    .logo2 {
      display: none;
    }
  }